beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
dnspython==1.16.0
Flask==2.0.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
libinput-gestures-qt==0.4
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
mercurial==5.8.1
ply==3.11
PyGObject==3.40.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
python-docx==0.8.11
python-prctl==1.8.1
requests==2.26.0
soupsieve==2.2.1
systemd-python==234
sysv-ipc==1.1.0
urllib3==1.26.6
Werkzeug==2.0.1
WTForms==2.3.3
