html{
  background-color: beige;
}
div.navbar{
  text-align: left;
  background-color: white;
  width: 30%;
  margin-left: 50px;
  padding: 5px 5px 20px 20px;
  font-size: 20px;
  font-family: Tahoma;
  border-style: solid;
  border-color: #BBA19B;
  border-radius: 7px;
  margin-bottom: 20px;
}
a.navbar{
  font: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 50%;
}
body{
color: black;
text-align: left;
padding-left: 30px;
border: 10px;
font-family: Tahoma;
}
a.project{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
ul{
  list-style-type: none;
}
div.whitebox{
  background-color: white;
  width: 50%;
  border-style: solid;
  border-color: #BBA19B;
  padding: 20px;
  border-radius: 7px;
  margin-left: 50px;
}
li.list{
  list-style-type: square;
}
.dmtool{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font: bold;
  font-size: 20px;
}
