{% extends "base.html"%}
{% block content %}
<div class="whitebox">
  <h2>About Me</h2>
  <img src="{{url_for('static',filename='Screenshot_20210407-141229_2.png')}}" alt="Photo of me and My daughter Gwen." width="300" height="300">
    <p>Hello, my name is Brandon Brodrick. I am a self starter and love to learn new things everyday! I have spent 2 years learning 2D game development with Gamemaker Studio, and 
      I also taught myself Photoshop to make my own artwork. I have tought myself python and have been doing using python for 7 months. Please look at my projects page for a few highlights of projects I have created.
      Please feel free to contact me for any work you want done. Thanks for your time!</p>
  <a id="github" href="https://github.com/yothebob" target="_blank"><img src="{{url_for('static', filename='github.png')}}" alt="Github" width="40" height="40"></a>
</div>
{% endblock %}
