<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
   {% if title %}
       <title>BC Modern - {{ title }}</title>
   {% else %}
       <title>BC Modern</title>
   {% endif %}

 </head>
 <body>
   <div class="navbar">
     <a id="button" class="navbar" href="{{ url_for('home') }}">Home</a>
     |
     <a id="button" class="navbar" href="{{ url_for('dm_tools')}}">DM Tools</a>
     |
     <a id="button" class="navbar" href="{{ url_for('projects')}}">Projects</a>
     |
     <a id="button" class="navbar" href="{{url_for('about')}}">About</a>
   </div>
  {% block content %}{% endblock %}
 </body>
</html>
