{% extends "base.html" %}
{% block content %}
<div class="whitebox">
  <h1>Dungeon master tools</h1>
  <p>All the tools below were made to be barebone dungeon master tools to help you improvise but not make you reliant on random descriptions.
  The whole program can be found on my github page where it is all in a single .py file without any modules. Please enjoy!</p>
  <ul>
    <li class="dmtool"><a href="{{ url_for('npc')}}">NPC Generator</a></li>
      <p>Bare bone npc generator.</p>
    <li class="dmtool"><a href="{{ url_for('tavern')}}">Tavern Generator</a></li>
      <p>Generates name, menu, event ideas, staff, and owner.</p>
    <li class="dmtool"><a href="{{url_for('names')}}">Name Generator</a></li>
      <p>Generates a list of random fantasy names.</p>
    <li class="dmtool"><a href="{{url_for('rolling')}}">Dice Rolling</a></li>
      <p>Dice roller that will add up total.</p>
    <li class="dmtool"><a href="{{url_for('city')}}">City Generator</a></li>
      <p>City Generator with random shops and fleshed out owners, and fleshed out taverns.</p>
    <li class="dmtool"><a href="{{url_for('shop')}}">Shop Generator</a></li>
      <p>The shop generator from the tavern generator.</p>
    <li class="dmtool"><a href="{{url_for('idea')}}">Idea Spark</a></li>
      <p>Having a hard time thinking of new ideas? This app was designed to get you thinking of some cool intresting ideas!
        Try it out!</p>
    <li class="dmtool"><a href="{{url_for('poi')}}">Point of intrest</a></li>
      <p>Have a hard time making travelling fun? Generate some random points of intrest.
        Things for your characters to see along the road that may make them stop and investigate!</p>
    <li class="dmtool"><a href="{{url_for('hook')}}">Hook Idea</a></li>
      <p>More traditional random events to get your player motivated to start a new adventure!</p>
  </ul>
</div>
{% endblock %}
