{% extends "base.html" %}
{% block content %}
<div class="whitebox">
  <h1>Completed Projects</h1>
  <ul class="project" >
   <li><a class="project" href="https://github.com/yothebob/excel_est_to_proposal" target="_blank"><h3>Proposal Writer</h3></a></li>
    <p> I made an application that interfaced with an excel estimating worksheet, scraped off data such as project type, amount of product and pricing
      and would write up an estimate proposal in Microsoft word for salesmen. Check out the github repository <a href="https://github.com/yothebob/excel_est_to_proposal" target="_blank">here!</a></p>
   <li><a class="project" href="https://gamejolt.com/games/Unearthly/561132" target="_blank"><h3>Unearthly Demise</h3></a></li>
    <p> a simple RTS game I made between earth and aliens on the moon. The game involves building armies, economy and building relations with the aliens.
    Also, random events happen that can sway relations between the humans and aliens. The game has over 1200 views and hundreds of plays! check it out
    <a class="project" href="https://gamejolt.com/games/Unearthly/561132" target="_blank">here!</a> Or check out the Github repository <a href="https://github.com/yothebob/Lunar" target="_blank">Here!</a> </p>
   <li><a class="project" href="https://github.com/yothebob/Take_off_tk" target="_blank"><h3>Rail Take Off</h3></a></li>
    <p> I was contracted to make a simple but effective tool to estimate part take off lists for commerical deck railing projects. You input deck lengths and it will
    create an excel file with all the parts. Check out the Github repository <a href="https://github.com/yothebob/Take_off_tk" target="_blank">here!</a></p>
   <li><a class="project" href="https://github.com/yothebob/REM-6.3" target="_blank"><h3>Residential Estimating Model (REM)</h3></a></li>
    <p> An estimating tool with full gui made for employees to draw deck designs and get instant part lists with pricing estimates.
    Also has been used with end consumers. Check out Github repository <a href="https://github.com/yothebob/REM-6.3" target="_blank">here!</a> </p>
   <li><a class="project" href="https://github.com/yothebob/Freight-importer" target="_blank"><h3>Freight estimator</h3></a></li>
    <p> A contracted tool used to take an excel estimate, grab all the parts in the estimate and populate an excel file that will calulate the total weight and seperate parts into bundle/pallet/boxes.
    Also it will print estimated totals of pallets and bundles. Check out the Github repository <a href="https://github.com/yothebob/Freight-importer" target="_blank">here!</a> </p>
  </ul>
</div>
{% endblock %}
