{% extends "base.html"%}
{% block content %}
<div class="whitebox">
  <h1>{{tavern['name']}}</h1>
  <h3>Whats unique about this tavern???</h3>
    <p>{{tavern['trait']}}</p>
    <h3>Whats on the Menu?</h3>
    <ul>
    {% for item in tavern['menu'] %}
      <li class="list">{{ item }}</li>
    {% endfor %}
    </ul>
    <h3>Whats Going On???</h3>
    <ul>
    {% for event in tavern['event'] %}
    <li class="list">{{ event }}</li>
    {% endfor %}
    </ul>
    <h3>Owner</h3>
      {% for trait in tavern['owner'] %}
        <p>{{trait}}</p>
      {% endfor%}
    <h3>Staff Members</h3>
    <ul>
      {% for staff in tavern['staff'] %}
      <li class="list">{{ staff }}</li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
